<?php
$CONFIG = array (
  'updatechecker' => false,
  'passwordsalt' => '',
  'trusted_domains' => 
  array (
    0 => '{{ owncloud_hostname }}',
  ),
  'datadirectory' => '/var/www/html/owncloud/data',

  "dbtype"        => "pgsql",
  "dbname"        => "{{ owncloud_database_name }}",
  "dbuser"        => "{{ owncloud_database_username }}",
  "dbpassword"    => "{{ owncloud_database_password }}",
  "dbhost"        => "{{ owncloud_database_hostname }}",
  "dbtableprefix" => "oc_",

  'logtimezone' => 'UTC',
  'installed' => false,
);
